{% extends "base.html" %}

{% block title %}
    {{ page.title|striptags }} - {{ SITENAME }}
{% endblock %}

{% block main %}
    <h1>{{ page.title }}</h1>

    {% if page.slug == 'about' or page.slug == 'board' or page.slug == 'constitution' or page.slug == 'bylaws' %}
        <div class="toc">
            <a href="/about/"{% if page.slug == 'about' %} rel="self"{% endif %}>About Us</a>
            <a href="/board/"{% if page.slug == 'board' %} rel="self"{% endif %}>Board Members</a>
            <a href="/bylaws/"{% if page.slug == 'bylaws' %}rel="self"{% endif %}>Bylaws</a>
            <a href="/constitution/"{% if page.slug == 'constitution' %} rel="self"{% endif %}>Constitution</a>
        </div>
    {% endif %}

    {{ page.content }}
{% endblock %}
