/*!
 * Styles for the nblug.org Pelican theme
 * Copyright 2003-2014, 2024 NBLUG Board Members
 * Creative Commons Attribution/ShareAlike 2.0 Generic license
 *
 * Original author: Tom Most; 2014, 2024
 */

:root {
    --background-color: white;
    --text-color: #111;
    --chill-text-color: #444;
    --link-color: #369;
    --visited-color: #551a8b;
}


@media screen and (prefers-color-scheme: dark) {
    :root {
        --background-color: black;
        --text-color: white;
        --chill-text-color: #666;
        --link-color: #3b8ee1;
        --visited-color: #a676d3;
    }
    .invert-in-dark-mode {
        filter: invert(70%) hue-rotate(180deg);
    }
}

body {
    background: var(--background-color);
    color: var(--text-color);
    font: 14px/1.5 "Liberation Sans", "Helvetica", "Arial", sans-serif;
    padding: 16px;
}

:link {
    color: var(--link-color);
}

:visited {
    color: var(--visited-color);
}

#wrap {
    margin: 0 auto;
    max-width: 1000px;
}

#masthead img {
    display: block;
    max-width: 100%;
    height: auto;
}

nav {
    padding: 0.5em 0;
}
nav a {
    --visited-color: var(--link-color);
    font-weight: bold;
    text-decoration: none;
    padding: 0 1em;
    white-space: nowrap;
}
nav a:first-child {
    padding-left: 0;
}
nav a:hover {
    text-decoration: underline;
}

main {
    float: left;
    width: 70%;
    margin: 0 1em 0 0;
}
#sidebar {
    overflow: hidden;
    font-size: smaller;
}
#sidebar > * {
    margin-bottom: 2em;
}
#sidebar h2 {
    font: inherit;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1em 0;
    font-family: "Liberation Sans Narrow", "Arial Narrow", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

#about {
    background: #369;
    color: #f2f8ff;
    --link-color: currentColor;
    --visited-color: currentColor;
    font-size: smaller;
    padding: 0 1em;
    /* FIXME: these borders are a hack to prevent margin collapsing */
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

#sponsors img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 1em 0;
}

.image-right {
    display: block;
    margin: 1em auto;
    max-width: 100%;
    height: auto;
}

@media all and (min-width: 700px) {
    .image-right {
        float: right;
        clear: right;
        margin: 0 0 1em 1em;
    }
}

@media all and (max-width: 500px) {
    main {
        float: none;
        width: auto;
        margin: 0;
    }
}

@media all and (max-width: 500px) and (min-width: 321px) {
    #sidebar section {
        float: left;
        width: 31%;
        margin: 0 2% 2em 0;
    }
    #sidebar #sponsors {
        margin-right: 0;
    }
}

header h3 {
    font: inherit;
    text-transform: uppercase;
    font-size: smaller;
    font-weight: bold;
    margin: 2em 0 0 0;
    font-family: "Liberation Sans Narrow", "Arial Narrow", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
header h1 {
    margin: 0 0 0.3em 0;
    font-size: x-large;
}

div.event-info {
    margin: 0.5em 0 1em 0;
}
div.event-info p {
    margin: 0;
}

/* Permalinks in the header aren't very useful, so hide them unless interacted
 * with */
header :link,
header :visited {
    text-decoration: none;
    color: inherit;
}
header :link:hover,
header :link:focus,
header :visited:hover,
header :visited:focus {
    text-decoration: underline;
}

.pagination {
    margin: 2em 0;
    text-align: center;
    line-height: 2;
}
.pagination span {
    padding: 0.5em 1em;
}
.pagination a {
    background: #369;
    color: #f2f8ff;
    text-decoration: none;
    border-radius: 5px;
    padding: 0.5em 1em;
}
.pagination a:hover,
.pagination a:focus {
    text-decoration: underline;
}

/* A div containing links for internal navigation in the "About Us" section. */
.toc {
    float: right;
    margin: 0 0 1em 1em;
    background: #369;
    color: #f2f8ff;
    font-size: smaller;
    padding: 0.75em 1em;
    line-height: 1.75;
}
.toc :link,
.toc :visited {
    color: currentColor;
    display: block;
}
/* Style the current link as bold text */
.toc :link[rel=self],
.toc :visited[rel=self] {
    font-weight: bold;
    text-decoration: none;
}

footer {
    clear: both; /* Below the main columns */
    color: var(--chill-text-color);
    --link-color: currentColor;
    --visited-color: currentColor;
    font-size: smaller;
    padding: 1px solid 
}
